@import "tailwindcss" important;

/* Import plugins if needed */
@import "tailwindcss-animated";

/* new update when adding plugins */
/* @plugin "shadcn"  */

@theme {
  /* Container settings */
  --container-padding: 2rem;
  --container-screens-2xl: 1400px;

  /* Font sizes */
  --text-heading1-bold: 36px;
  --leading-heading1-bold: 140%;
  --font-weight-heading1-bold: 700;

  --text-heading1-semibold: 36px;
  --leading-heading1-semibold: 140%;
  --font-weight-heading1-semibold: 600;

  --text-heading2-bold: 30px;
  --leading-heading2-bold: 140%;
  --font-weight-heading2-bold: 700;

  --text-heading2-semibold: 30px;
  --leading-heading2-semibold: 140%;
  --font-weight-heading2-semibold: 600;

  --text-heading3-bold: 24px;
  --leading-heading3-bold: 140%;
  --font-weight-heading3-bold: 700;

  --text-heading4-medium: 20px;
  --leading-heading4-medium: 140%;
  --font-weight-heading4-medium: 500;

  --text-body-bold: 18px;
  --leading-body-bold: 140%;
  --font-weight-body-bold: 700;

  --text-body-semibold: 18px;
  --leading-body-semibold: 140%;
  --font-weight-body-semibold: 600;

  --text-body-medium: 18px;
  --leading-body-medium: 140%;
  --font-weight-body-medium: 500;

  --text-body-normal: 18px;
  --leading-body-normal: 140%;
  --font-weight-body-normal: 400;

  --text-body1-bold: 18px;
  --leading-body1-bold: 140%;
  --font-weight-body1-bold: 700;

  --text-base-regular: 16px;
  --leading-base-regular: 140%;
  --font-weight-base-regular: 400;

  --text-base-medium: 16px;
  --leading-base-medium: 140%;
  --font-weight-base-medium: 500;

  --text-base-semibold: 16px;
  --leading-base-semibold: 140%;
  --font-weight-base-semibold: 600;

  --text-base1-semibold: 16px;
  --leading-base1-semibold: 140%;
  --font-weight-base1-semibold: 600;

  --text-small-regular: 14px;
  --leading-small-regular: 140%;
  --font-weight-small-regular: 400;

  --text-small-medium: 14px;
  --leading-small-medium: 140%;
  --font-weight-small-medium: 500;

  --text-small-semibold: 14px;
  --leading-small-semibold: 140%;
  --font-weight-small-semibold: 600;

  --text-subtle-medium: 12px;
  --leading-subtle-medium: 16px;
  --font-weight-subtle-medium: 500;

  --text-subtle-semibold: 12px;
  --leading-subtle-semibold: 16px;
  --font-weight-subtle-semibold: 600;

  --text-tiny-medium: 10px;
  --leading-tiny-medium: 140%;
  --font-weight-tiny-medium: 500;

  --text-x-small-semibold: 7px;
  --leading-x-small-semibold: 9.318px;
  --font-weight-x-small-semibold: 600;

  /* Colors */
  --color-primary-500: #877eff;
  --color-secondary-500: #ffb620;
  --color-blue: #0095f6;
  --color-logout-btn: #ff5a5a;
  --color-navbar-menu: rgba(16, 16, 18, 0.6);
  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;
  --color-light-1: #ffffff;
  --color-light-2: #efefef;
  --color-light-3: #7878a3;
  --color-light-4: #5c5c7b;
  --color-gray-1: #697c89;
  --color-glassmorphism: rgba(16, 16, 18, 0.6);

  /* Box shadows */
  --shadow-count-badge: 0px 0px 6px 2px rgba(219, 188, 159, 0.3);
  --shadow-groups-sidebar: -30px 0px 60px 0px rgba(28, 28, 31, 0.5);

  /* Screens */
  --breakpoint-xs: 400px;

  /* Keyframes */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
